*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
}

.preloader{
  position:fixed;
  width:100%;
  height:100vh;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.logo{
  width:300px;
  opacity:0;
}

.site-content{
  opacity:0;
}
